/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: 'noto_sansregular';
  src: url('../font/notosans-regular-webfont.woff2') format('woff2'),
       url('../font/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* ******************************** */

/* Colores */
:root {
  --color-btn: #216692;
  --color-cruz-off: #afddd2;
  --color-header-footer: #5ab5da;
  --color-main: #d5ecf6;
  --color-text-animacion: #08be80;
  --color-text-btn: #fafafa;
  --color-text-inf: #da9f5a;
  --color-texto: #082125;
}
/* ******************************** */
body{
  background-color: var(--color-main);
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

}

/* Header */
header{
  background-color: var(--color-header-footer);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'noto_sansregular';
  width: 100%;
}


/* Main */

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  gap: 60px;
  height: 65vh;
}

.main_cruz{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cruz {
  position: relative;
  width: 180px; /* Tamaño del ancho de la cruz */
  height: 180px; /* Tamaño la altura de la cruz */
}

.cruz::before,
.cruz::after {
  content: '';
  position: absolute;
  background-color: var(--color-cruz-off);
}

.cruz::before {
  width: 60px; /* Grosor de la línea vertical */
  height: 100%;
  left: 33%; /* Posición de la línea vertical */
  top: 0;
  border-radius: 10%;
  transition: background-color 0.5s;
}

.cruz.iluminado-vertical::before {
  background-color: var(--color-text-animacion); /* Iluminación de cruz */
}

.cruz.iluminado-horizontal::after {
  background-color:var(--color-text-animacion); /* Iluminación de cruz */
}

.cruz::after {
  width: 100%;
  height: 60px; /* Grosor de la línea horizontal */
  top: 35%; /* Posición de la línea horizontal */
  left: 0;
  border-radius: 10%;
}


.boton-inicar,.boton-info{
    background-color: var(--color-btn);
    padding: 8px 16px;
    margin: 4px;
    font-size: 14px;
    border-radius: 10%;
    color: var(--color-text-btn);
    font-family: '';
}
.contador {
  font-family: 'noto_sansregular';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 34px;
  color: var(--color-btn);
  font-weight: bold;
  z-index: 1; /* Contador encima de la cruz */
}

#minutos{
  font-size: 24px;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

/* Texto de info.html */
.texto_info{
  padding: 16px;
  text-align: justify;
  font-family: 'noto_sansregular';
  & h1{
    padding: 20px;
    color: var(--color-text-inf);
  }

  & h2{
    color: var(--color-text-inf);
  }
  & h3{
    color: var(--color-text-inf);
  }
}
.img_info{
  display: flex;
  width: 30%;
}

/* Footer */
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  
}
.text__footer{
  font-family: 'noto_sansregular';
  display: flex;
  background-color: var(--color-header-footer);
  color: var(--color-texto); /* Color del texto */
  text-align: left;
  font-size: 1rem;
  gap: 10px;
  height: 18vh;
  padding: 10px;
}

.img_footer{
  height: 50%;
  width: 30%;
}