/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: 'noto_sansregular';
  src: url('../font/notosans-regular-webfont.woff2') format('woff2'),
       url('../font/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* ******************************** */

/* Colores */
:root {
  --color-btn: #216692;
  --color-cruz-off: #afddd2;
  --color-header-footer: #5ab5da;
  --color-main: #d5ecf6;
  --color-text-animacion: #08be80;
  --color-text-btn: #fafafa;
  --color-text-inf: #da9f5a;
  --color-texto: #082125;
}
/* ******************************** */

/* Header */
header{
  background-color: var(--color-header-footer);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'noto_sansregular';
}


/* Main */
main{
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 0;
}
.cruz {
  
  position: relative;
  width: 100px;
  height: 100px;
}

.cruz::before,
.cruz::after {
  content: '';
  position: absolute;
  background-color:var(--color-cruz-off);
}

.cruz::before {
  width: 40px; /* Ajusta el grosor de la línea vertical */
  height: 100%;
  left: 31%; /* Ajusta la posición de la línea vertical */
  top: 0;
  border-radius: 10%;
}

.cruz::after {
  width: 100%;
  height: 40px; /* Ajusta el grosor de la línea horizontal */
  top: 31%; /* Ajusta la posición de la línea horizontal */
  left: 0;
  border-radius: 10%;
}




/* Footer */
.text__footer{
  font-family: 'noto_sansregular';
  display: flex;
  background-color: var(--color-header-footer);
  color: var(--color-texto); /* Color del texto */
  text-align: left;
  font-size: 16px;
  gap: 10px;
}

.img_footer{
  width: 30%;
}