/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: 'noto_sansregular';
  src: url('../font/notosans-regular-webfont.woff2') format('woff2'),
       url('../font/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* ******************************** */

/* Colores */
:root {
  --color-btn: #216692;
  --color-cruz-off: #afddd2;
  --color-header-footer: #5ab5da;
  --color-main: #d5ecf6;
  --color-text-animacion: #08be80;
  --color-text-btn: #fafafa;
  --color-text-inf: #da9f5a;
  --color-texto: #082125;
}
/* ******************************** */
